<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <style type="text/css">
        p {
            font-size: 30px;
            color: crimson;
        }

        nopass {
            color: crimson;
        }

        body {
            background-image: url("../static/image/001.jpg");
            background-size: 100%;
        }
    </style>
    <script src='static/js/jquery-3.6.0.min.js'></script>
    <script src="static/js/echarts.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/success.css" />
</head>

<body>
    <center>
        <div id="center">
            <h1><br><br><br><br><br><br><br><b>
                    <font face="楷体" color="white">欢迎使用个贷违约预测系统</font>
                </b></h1><br>
        </div>
        <div hidden id="main" style="width: 100% ;height: 800px;"></div>
    </center>
</body>
<!-- js部分 -->
<!-- 引入jquery -->
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<!-- /js部分 -->

</html>